.header {
    position: relative;
    padding-top: 20px;
    width: auto;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header a {
    margin: 0 20px;
    border: 1px solid black;
    padding: 7px 7px 10px 5px;
    text-decoration: none;
    color: rgb(226, 225, 225);
    background: rgb(95, 103, 71);
    border-radius: 4px;
}
.header a:hover {
    transition: all 500ms ease;
    color: rgb(216, 206, 206);
    background: rgb(80, 81, 79);
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90px;
    background: rgb(141, 119, 95);
    border-radius: 10px;
}